body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;  /* 設置容器最大寬度 */
    height: auto;  /* 讓容器自動調整高度 */
}

#camera {
    width: 100%;  /* 攝像頭寬度充滿容器 */
    height: auto; /* 高度根據寬度自適應 */
    border: 1px solid #ccc;
}

.redBox {
    position: absolute;
    border: 2px solid red;
    pointer-events: none; /* 禁用紅框的點擊事件，使其不影響攝像頭預覽 */
}

#redBox1 {
    width: 30px;  /* 使用視口寬度的10%作為紅框的大小 */
    height: 30px;  /* 高度與寬度相同，保持正方形 */
    top: 45%;  /* 將紅框移到攝像頭畫面的中間偏下位置 */
    left: 50%;
    transform: translate(-50%, -50%);  /* 使紅框保持居中 */
    position: absolute;
}

/* 為手機設備進行特殊處理，調整紅框位置 */
@media screen and (max-width: 768px) {
    #redBox1 {
        top: 65%;  /* 在手機上將紅框移動到更偏下位置 */
    }
}

.redBox.fixed {
    position: absolute;
    pointer-events: none;
}

.boxLabel {
    position: absolute;
    top: -25px; /* 將標籤放置在紅框上方 */
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: yellow;
    background-color: rgba(100, 50, 100, 0.7); /* 半透明背景 */
    padding: 2px;
    border-radius: 3px;
}

#analyzeBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 16px;
}
